<div class="home">
  <%= render 'static_pages/home/about_us' %>
  <%= render 'static_pages/home/experts' %>
  <%= render 'static_pages/home/clients' %>
  <%= render 'static_pages/home/campus' %>
</div>