<%= render 'layouts/admin_navbar' %>

<div class="container">
  <h1>Novo Produto</h1>

  <%= render 'form', tech_product: @tech_product %>

  <%= link_to 'Voltar', tech_products_path, class: 'btn btn-secondary' %>
</div>

