.tns-controls, .tns-nav, button[data-action='stop'] {
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  color: pink;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  color: pink;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
  color: pink;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  color: pink;
}

.btn {
  white-space: normal !important;
  word-wrap: break-word; 
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1500px !important;
  }
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}

.carousel-indicators {
  bottom: -5em !important;

  li {
    background-color: $color-white;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: .5em;

    &.active {
      background-color: $color-light-blue;
    }
  }
}
