<div class="container pt-4">
  <div class="d-flex">
    <h1>Editar produto</h1>
    <div class="ml-auto align-self-center">
      <%= link_to 'Voltar ao site', root_path, class: 'btn btn-outline-info' %>
    </div>
  </div>
  <hr class="divider">

  <%= render 'form' %>
</div>