.about-us {
  padding-top: 3em;

  > .content {
    > .title {
      font-family: 'Raleway', sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
    }

    .description {
      max-width: 650px;
      padding-top: 1em;
  
      font-size: 20px;
      font-weight: 300;
      line-height: 1.618;
    }

    .team {
      width: auto;
      height: 480px;
      margin-left: 4em;
    }

    .social {
      .medias {
        i {
          padding-right: 1em;
          font-size: 25px;
          color: $color-medium-blue;
        }
      }
    }

    .ninjas {
      padding-top: 7em;

      .title, .sub-title {
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: 2px;
        color: $color-medium-blue;
      }

      .sub-title {
        opacity: 0.1;
        padding-left: 3.5em;
      }

      .members {
        padding: 5em 2em 0;

        .member {
          .photo {
            width: auto;
            height: 225px;
          }

          .name {
            padding-top: .5em;
            font-size: 25px;
            font-weight: bold;
          }
          
          .function {
            font-size: 20px;
            font-weight: 300;
          }
  
          &.shifted {
            padding-top: 8em;
          }
        }
      }

      .btn {
        margin-top: 5em;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  .agile {
    padding: 3em 0 0;
    margin-top: -1px;
    background-color: $color-light-grey;

    .content {
      > .title {
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        font-weight: 700;
      }
  
      .description {
        max-width: 650px;
        padding-top: .5em;
  
        font-size: 20px;
        font-weight: 300;
      }

      .image {
        width: auto;
        height: 550px;
        margin-left: 4em;
        margin-top: 2em;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about-us {
    padding-top: 0;

    .container {
      padding: 0;
    }

    .content {
      > .title {
        font-size: 30px;
      }

      .description {
        font-size: 17px;
      }

      .team {
        width: auto;
        height: 275px;
        margin: 0 auto;
        margin-top: 2em;
      }

      .social {
        .medias {
          text-align: center;

          .link {
            i {
              padding: .5em;
            }
          }
        }
      }

      .ninjas {
        padding-top: 3em;

        .title, .sub-title {
          font-size: 30px;
          line-height: 35px;
        }

        .sub-title {
          padding-left: 0;
          text-align: right;
        }

        .members {
          padding-top: 1em;

          .member {
            padding: 2em 0;

            &.shifted {
              padding: 0;
            }
          }
        }

        .btn {
          margin: 2em 0 3em;
          font-size: 16px;
        }
      }
    }

    .agile {
      padding: 2em 0;

      .content {
        > .title {
          // text-align: center;
          font-size: 35px;
          line-height: 40px;
        }

        .description {
          padding-top: 0;
          font-size: 17px;
        }

        .image {
          margin: 0 auto;
          margin-top: 2em;
          height: 300px;
          width: auto;
        }
      }
    }
  }
}