div.about-us {
  padding-top: 3em;

  .first-section {
    padding-top: 2em;

    .video {
      margin-left: 4em;
    }
  }

  .second-section, .our-team {
    padding: 4em 0;
    margin-top: 2em;
  }

  > .content {
    > .title {
      font-family: 'Raleway', sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
    }
  }

  > .company {
    padding-bottom: 2em;

    .title {
      font-size: 25px;
      font-weight: 500;
    }

    .company-image {
      width: auto;
      height: 130px;

      &:first-child {
        margin-right: 5em;
      }

      &:last-child {
        margin-left: 5em;
      }
    }
  }

  > .partners {
    margin-top: -1px;
    padding: 1.5em 0 1em;
    background-color: $color-light-grey;

    .title {
      font-size: 35px;
      font-weight: 500;
    }

    .partner-image {
      width: auto;
      height: 130px;

      &:first-child {
        margin-right: 5em;
      }

      &:last-child {
        margin-left: 5em;
      }
    }
  }

  .our-team {
    .job-button {
      padding-left: 2em;
    }
  }
}

@media screen and (max-width: 767px) {
  div.about-us {
    padding-top: 0;

    .container {
      padding: 0;
    }

    .content {
      padding: 0 1em;

      > .title {
        font-size: 35px;
      }
    }
    
    .first-section {
      flex-wrap: wrap-reverse;

      .text-content {
        padding-top: 1em;
      }

      .video {
        margin-left: 0;

        iframe {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    .second-section {
      flex-wrap: wrap;
    }

    .first-section, .second-section, .our-team {
      padding-top: 1em;

      .image-content {
        img {
          max-width: 100% !important;
          height: auto !important;
          margin: 0 !important;
        }
      }
    }

    .second-section, .our-team {
      padding-bottom: 2em;
      
      .text-content {
        padding-top: 1em;

        h1 {
          font-size: 30px;
        }
      }
    }

    .partners {
      break {
        flex-basis: 100%;
        width: 0px; 
        height: 0px; 
        overflow: hidden;
      }

      padding-top: 2em;

      .d-flex {
        flex-wrap: wrap;
      }

      h1.title { 
        font-size: 30px;
      }

      .partner-image {
        height: 100px;
        margin: 0 !important;
      }
    }

    .company {
      break {
        flex-basis: 100%;
        width: 0px; 
        height: 0px; 
        overflow: hidden;
      }

      .d-flex {
        flex-wrap: wrap;
      }

      .company-image {
        height: 100px;
        margin: 0 !important;
      }
    }

    .our-team {
      break {
        flex-basis: 100%;
        width: 0px; 
        height: 0px; 
        overflow: hidden;
      }
      
      flex-wrap: wrap;

      .gptw {
        flex-wrap: wrap;
        justify-content: center;

        .job-button {
          padding-top: 2em;
          padding-left: 0;
        }
      }
    }
  }
}
