.btn {
  border-radius: 40px;
  padding: .5rem 2rem;
}

.btn-outline-white {
  border-color: $color-white;
  color: $color-white;

  &:hover {
    background-color: $color-white;
  }
}

.btn-outline-green {
  border-color: $color-green;
  color: $color-green;

  &:hover {
    background-color: $color-green;
  }
}

.btn-outline-light-blue {
  border-color: $color-light-blue;
  color: $color-light-blue;

  &:hover {
    background-color: $color-light-blue;
  }
}

.btn-outline-red {
  border-color: $color-red;
  color: $color-red;

  &:hover {
    background-color: $color-red;
  }
}

.btn-outline-orange {
  border-color: $color-orange;
  color: $color-orange;

  &:hover {
    background-color: $color-orange;
  }
}

.btn-orange {
  background-color: $color-orange;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.btn-light-blue {
  background-color: $color-light-blue;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}