.receive-content {
  .input-wrapper {
    padding: 1em;
    border: 1px solid #dcdcdc;
    border-radius: 4px;

    input[type="email"] {
      width: 200px;
      border: none;
      background: none;
      color: $color-white;
    }

    input[type="submit"] {
      background-color: #4682E3;
      border-color: #4682E3;
      border-radius: 27px;
      padding: .5rem .75rem;
    }
  }
}

footer {
  margin-top: -2px;

  background-color: $color-blue;
  color: $color-white;

  .address {
    font-weight: 300;
  }

  .list {
    padding: 0;
    list-style-type: none;

    .title {
      font-family: 'Raleway';
    }

    .list-item {
      padding-top: .5em;

      a {
        color: $color-white;
        // text-decoration: none;
        font-weight: 300;
      }
    }
  }

  .medias {
    padding-top: .75em;

    i {
      padding-right: 1em;
      font-size: 20px;
      color: $color-white;
      opacity: 0.8;
    }
  }

  .newsletter {
    #email {
      background-color: $color-blue;
      border: 1px solid #dcdcdc;
      border-radius: 20px;
      padding: .5rem .75rem;
      color: $color-white;
    }

    input[type="submit"] {
      padding: .5rem .75rem;
    }
  }

  .divider {
    background-color: #fafafa;
  }
}

.feed {
  padding: 4em 0;
}

.bg-grey {
  background-color: $color-light-grey;
}

@media screen and (max-width: 767px) {
  footer {
    .pl-5 {
      padding-left: 1em !important;
    }

    .newsletter {
      #email {
        padding: .6rem .75rem;
        margin-right: .3em;
      }

      input[type="submit"] {
        margin-top: 0 !important;
      }
    }

    .footer-home {
      flex-wrap: wrap;
    
      .ml-auto {
        padding-top: 1.5em;
        margin-left: 0 !important;
      }
    }
  }
}