footer {
  margin-top: -2px;
  padding: 3em 0;

  background-color: $color-blue;
  color: $color-white;

  .address {
    font-weight: 300;
  }

  .list {
    padding: 0;
    list-style-type: none;

    .list-item {
      padding-top: .5em;

      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 300;
      }
    }
  }

  .receive-content {
    .input-wrapper {
      padding: 1em;
      background-color: #5372A4;
      border-radius: 4px;

      input[type="email"] {
        width: 52%;
        border: none;
        background: none;
        color: $color-white;
      }

      input[type="submit"] {
        text-align: right;
        background-color: #4682E3;
        border-color: #4682E3;
        border-radius: 27px;
        padding: .5rem .75rem;
      }
    }
  }

  .medias {
    padding-top: .75em;

    i {
      padding-right: 1em;
      font-size: 20px;
      color: $color-white;
      opacity: 0.8;
    }
  }
}

.feed {
  padding: 4em 0;
}

.bg-grey {
  background-color: $color-light-grey;
}

@media screen and (max-width: 767px) {
  footer {
    .pl-5 {
      padding-left: 1em !important;
    }

    .receive-content {
      .input-wrapper {
        input[type="email"] {
          width: 100%;
        }

        input[type="submit"] {
          margin-top: 1rem;
        }
      }
    }
  }
}