.home {
  .about-us {
    .bg-top {
      width: 100%;
    }

    .bg-bottom {
      width: 100%;
      margin-top: -1px;
    }

    .content {
      margin-top: -5px;
      padding: 2em 3em 4em;

      background-color: $color-light-blue;
      color: $color-white;

      .team {
        width: auto;
        height: 450px;
      }

      .description-wrapper {
        padding: 0 5em;

        > .title {
          font-size: 55px;
          font-weight: bold;
          letter-spacing: 3px;
        }
  
        > .description {
          padding-top: 1em;
          font-size: 20px;
          font-weight: 300;
          line-height: 1.68em;
        }
        
        > .actions {
          padding-top: 3em;

          .btn {
            font-size: 25px;
            font-weight: 300;

            &:hover {
              color: $color-light-blue;
            }
          }

          .social {
            .title {
              color: rgba($color-white, 0.62);
            }
            
            .medias {
              padding-top: .75em;

              i {
                padding-right: 1em;
                font-size: 20px;
                color: $color-medium-blue;
              }
            }
          }
        }
      }
    }
  }

  .experts {
    padding: 3em 0 5em;
    position: relative;

    .content {
      > .title {
        font-size: 55px;
        font-weight: bold;
      }
  
      > .description {
        width: 700px;
        padding-top: 1em;
  
        font-size: 20px;
        font-weight: 300;
      }
  
      .services {
        padding: 3em 5em;

        .service {
          .description-wrapper {
            padding-left: 2em;
          }

          .title {
            font-weight: 800;
            font-size: 35px;
          }

          .description {
            font-size: 20px;
            font-weight: 300;
            max-width: 400px;
          }
        }
      }

      .actions {
        padding-top: 3em;

        .btn {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }

    .circle-1, .circle-2 {
      position: absolute;
    }

    .circle-1 {
      width: 500px;
      top: 8em;
      left: -10em;
      z-index: -1;
    }

    .circle-2 {
      width: 700px;
      top: 25em;
      right: -15em;
      z-index: -1;
    }
  }

  .clients {
    padding: 4em 0;
    background-color: $color-light-grey;

    .content {
      font-size: 20px;
      font-weight: 300;

      .logos {
        padding-top: 2em;
  
        img {
          padding-right: 2em;
        }
      }
    }
  }

  .campus {
    padding-top: 3em;

    .content {
      > .title {
        font-size: 55px;
        font-weight: bold;
      }

      > .video {
        padding-top: 2em;
      }

      .description {
        max-width: 500px;
        padding-top: 1.5em;

        font-size: 20px;
        font-weight: 300;

        .link-orange {
          color: $color-orange;
          font-weight: normal;
          text-decoration: underline;
        }
      }

      .actions {
        padding-top: 3em;

        .btn {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
}