.home {
  .phrase-wrapper {
    position: absolute;
    // margin-left: auto;
    // margin-right: auto;
    // right: 0;
    // left: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 9999;
  }

  .phrase {
    max-width: 900px;
    text-align: center;
    
    h1 {
      font-size: 45px;
      line-height: 55px;
      font-weight: 600;
    }
  }

  .btn {
    background-color: $color-white;

    &:hover {
      background-color: $color-orange;
    }
  }
}

.home-mobile {
  .phrase-wrapper {
    padding-top: 4em;
    position: absolute;

    .phrase {
      padding: 0 1em;
      text-align: center;

      h1 {
        font-weight: 600;
      }
    }

    .buttons {
      text-align: center;

      .btn {
        background-color: $color-white;

        &:hover {
          background-color: $color-orange;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    padding-top: 2em;

    .phrase-wrapper {
      transform: initial;
      top: 30%;
      left: 0;
      z-index: -1;

      .phrase {
        font-size: 30px;
        line-height: 35px;
      }
    }

    #particles {
      display: none;
    }
  }
}