#particles canvas{
  position: absolute;
  width: 100%;
  height: 80% !important;
  z-index: -1;
}

#particles-mobile canvas{
  position: absolute;
  width: 100%;
  height: 80% !important;
  z-index: -1;
}