.services-page {
  padding-top: 3em;

  > .content {
    > .title {
      font-family: 'Raleway', sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
    }

    > .description {
      max-width: 650px;
      padding-top: 1em;
  
      font-size: 20px;
      font-weight: 300;
      line-height: 1.618;
    }

    > .services {
      padding: 3em 5em;

      .service {
        .description-wrapper {
          padding-left: 2em;
        }

        .title {
          font-weight: 800;
          font-size: 35px;
        }

        .description {
          font-size: 20px;
          font-weight: 300;
          max-width: 400px;
        }
      }
    }

    > .solutions-wrapper {
      padding: 3em 5em;

      .solution {
        > .title {
          padding-bottom: 1em;
          text-align: right;
          font-size: 50px;
          font-weight: 200;
        }

        .short-description {
          padding-left: 2em;
          font-weight: 300;
          font-size: 25px;
        }
        
        .points {
          padding-top: 2em;
          
          font-size: 20px;
          font-weight: 300;
          
          .description {
            font-weight: 200;
          }
          
          .point {
            max-width: 425px;
          }
        }

        .actions {
          padding-top: 3em;
          font-size: 20px;
          font-weight: 300;

          .btn {
            margin-top: 1em;
            font-size: 20px;

            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  > .technologies {
    padding: 3em 0 0;
    margin-top: -1px;
    background-color: $color-light-grey;

    .content {
      > .title {
        font-weight: 800;
        font-size: 35px;
      }
  
      > .description {
        max-width: 750px;
        padding-top: .5em;
  
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .services-page {
    padding-top: 1em;

    .container {
      padding: 0;
      padding-bottom: 3em;
    }

    .content {
      padding: 0 1em;
      
      > .title {
        font-size: 29px;
        line-height: 35px;
      }

      > .description {
        font-size: 17px;
      }

      > .services {
        padding: 3em 0 0;

        .service {
          text-align: center;
          
          .title {
            font-size: 25px;
            font-weight: bold;
          }
          .description {
            font-size: 17px;
          }

          img {
            margin: 0 auto;
          }

          .description-wrapper {
            padding-left: 0;
            padding-top: 1.5em;
          }
        }
      }

      .solutions-wrapper {
        padding: 0;

        .solution {
          .d-flex {
            flex-wrap: wrap;
          }

          > .title {
            font-size: 25px;
          }

          .short-description {
            padding: 1.5em 0 0 0;
            font-size: 20px;
          }

          .points {
            padding-top: 0;
            font-size: 17px;

            .point {
              width: initial;
            }

            .col-md-6, .col-md-8 {
              padding-top: 1em;
            }
          }

          .actions {
            padding-top: 2em;
            font-size: 17px;

            .btn {
              font-size: 17px;
            }
          }
        }
      }
    }

    .technologies {
      padding-top: 2em;

      .content {
        > .description {
          padding-top: 1em;
        }
      }
    }
  }
}