div.oncase-labs {
  padding-top: 3em;

  > .content {
    > .title {
      font-family: 'Raleway', sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
    }
  }

  .first-section {
    .text-content {
      h2, h3 {
        &:after {
          margin: .75em 0 .5em;
        }
      }
    }
  }

  .second-section, .third-section, .success-cases {
    .text-content {
      h2 {
        &:after {
          margin: .75em auto .5em;
        }
      }
    }
  }

  .first-section {
    padding-top: 3em;

    .text-content {
      max-width: 700px;
    }
  }

  .second-section {
    padding-top: 4em;

    .text-content {
      max-width: 700px;
    }
  }

  .cases-row {
    h3, h4 {
      &:after {
        margin: .75em 0 .5em;
      }
    }
  }

  .how-image {
    padding-top: 2em;
  }

  .how-1, .how-2, .how-3, .how-4 {
    padding-top: 3em;
  }

  .success-cases {
    padding-top: 8em;
  }

  .cta {
    margin-top: -1px;
    padding-top: 2em;
    background-color: $color-light-grey;
    
    .btn {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 767px) {
  div.oncase-labs {
    padding-top: 1em;

    .container {
      padding: 0;
    }

    .content {
      padding: 0 1em;
      padding-bottom: 3em;

      > .title {
        font-size: 35px;
        line-height: 40px;
      }
    }

    .text-content {
      h2 {
        font-size: 25px;
      }

      h4 {
        font-size: 22px;
      }
    }

    .first-section {
      padding-top: 2em;
      flex-wrap: wrap-reverse;

      .image-content {
        img {
          max-width: 100% !important;
          height: auto !important;
          margin: 0 !important;
        }
      }

      .text-content {
        padding-top: 1em;
      }
    }

    .how-image {
      padding-top: 1em;

      img {
        max-width: 100% !important;
        height: auto !important;
        margin: 0 !important;
      }
    }

    .how-1, .how-3 {
      flex-wrap: wrap;

      .text-content {
        padding-top: 1em;
      }

      .image-content {
        img {
          max-width: 100% !important;
          height: auto !important;
          margin: 0 !important;
        }
      }
    }

    .how-2, .how-4 {
      flex-wrap: wrap-reverse;
      
      .text-content {
        padding-top: 1em;
      }

      .image-content {
        img {
          max-width: 100% !important;
          height: auto !important;
          margin: 0 !important;
        }
      }
    }

    .success-cases {
      padding-top: 4em;
    }

    .cases-row {
      padding-top: 0 !important;

      .col-md-4 {
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          padding-top: 2em;
        }
      }
    }

    .cta {
      h1 {
        margin: 0;
        padding-bottom: .75em;
      }

      padding: 2em 1em 3em;
    }
  }
}