<div class="campus">
  <%= image_tag 'circle-3.svg', class: 'circle-3' %>

  <div class="content">
    <div class="title text-center">CAMPUS</div>

    <div class="d-flex justify-content-center flex-wrap pt-5">
      <div class="video text-center">
        <iframe width="430px" height="270px" src="https://www.youtube.com/embed/S-D6y6-mb_E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

      <div class="description">
        Através do Oncase Campus, difundimos conhecimento e estamos em contato direto com os alunos. É uma ótima maneira de oferecermos um pouco da nossa experiência adquirida no dia-a-dia em projetos de Business Intelligence, Analytics e Big Data. 
        <br>
        <br>
        Veja todos os treinamentos disponíveis, bem como agendas, conteúdo, objetivos e muito mais. Tudo disponível no nosso portal todos <a href="http://treinamentos.onca.se" target="_blank" class="link-orange">treinamentos.onca.se</a>
        
        <div class="actions">
          <a href="#" class="btn btn-orange">
            Explore o nosso campus
            <span>&nbsp;</span>
            <%= fa_icon "chevron-right" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>