<% if action_name == 'solutions' or action_name == 'services' %>
  <%= image_tag "bg-footer-alt@2x.png", width: "101%", style: "margin-left: -2px" %>  
<% else %>
  <%= image_tag "bg-footer@2x.png", width: "101%", style: "margin-left: -2px", class: "mt-4" %>  
<% end %>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag "logo-secondary.png", height: "50px" %>

        <div class="city-info pt-2">
          <p class="city mb-0">Recife</p>

          <p class="address">
            Rua do Bom Jesus, 163
            <br>
            2º andar
            <br>
            Recife-PE CEP 50.030-170
            <br>
            Fone: +55-81-3077-8558
          </p>
        </div>

        <div class="city-info">
          <p class="city mb-0">São Paulo</p>

          <p class="address">
            Fone: +55-11-4085-0606
          </p>
        </div>
      </div>

      <div class="col-md-2 pt-3 pl-5">
        <ul class="list">
          <p class="title">SOBRE NÓS</p>

          <li class="list-item">
            <a href="#">OnCase</a>
          </li>

          <li class="list-item">
            <a href="#">Nosso time</a>
          </li>

          <li class="list-item">
            <a href="#">Pentaho</a>
          </li>

          <li class="list-item">
            <a href="#">Trabalhe conosco</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3">
        <ul class="list">
          <p class="title">SOLUÇÕES</p>

          <li class="list-item">
            <a href="#">Marketing de conteúdo</a>
          </li>

          <li class="list-item">
            <a href="#">Seguros e riscos</a>
          </li>

          <li class="list-item">
            <a href="#">Retail</a>
          </li>

          <li class="list-item">
            <a href="#">Produtos técnicos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3">
        <ul class="list">
          <p class="title">O QUE FAZEMOS</p>

          <li class="list-item">
            <a href="#">Consultorias</a>
          </li>

          <li class="list-item">
            <a href="#">Suporte</a>
          </li>

          <li class="list-item">
            <a href="#">Treinamentos</a>
          </li>

          <li class="list-item">
            <a href="#">Tecnologias que usamos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3 pl-5">
        <ul class="list">
          <p class="title">CONTEÚDOS</p>

          <li class="list-item">
            <a href="#">Blog</a>
          </li>

          <li class="list-item">
            <a href="#">Oncase Insights</a>
          </li>

          <li class="list-item">
            <a href="#">Oncase TV</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3">
        <ul class="list">
          <p class="title">CONTATO</p>

          <li class="list-item">
            <a href="#">Fale conosco</a>
          </li>

          <li class="list-item">
            <a href="#">Trabalhe conosco</a>
          </li>
        </ul>
      </div>
    </div>

    <%# <hr class="divider" style="background-color: #fff; opacity: 0.2">

    <div class="row pt-3">
      <div class="col-md-4">
        <div class="receive-content">
          <p class="title">Receba conteúdo em primeira mão ;)</p>
          <div class="input-wrapper">
            <form action="">
              <input type="email" name="email" id="email" placeholder="Digite aqui o seu e-mail...">
              <input type="submit" value="Receber conteúdo" class="btn btn-info">
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="social">
          <div class="title">Nos encontre</div>
        </div>
      </div>
    </div> %>
  </div>
</footer>