<%= render 'layouts/admin_navbar' %>

<div class="container">
  <h1>Novo Membro</h1>

  <%= render 'form', member: @member %>

  <%= link_to 'Voltar', members_path, class: 'btn btn-secondary' %>
</div>

